body
{
	position:absolute;
	width:100%;
	max-width:75vh;
	height:100%;
	margin:0;
	top:0;
	left:50%;
	overflow:hidden;
	transform:translate(-50%,0);
}

#twitterIcon
{
	position:absolute;
	height:100%;
}

#profilePic
{
	position:absolute;
	overflow:hidden;
	width:14vh;
	height:14vh;
	border-radius:10vh;
	top:2.5vh;
	left:2.5vh;
	z-index:200;
	box-sizing: border-box;
}

#profilePic div
{
	background:#aaa;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

#profilePic div p
{
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
	width:100%;
	position:absolute;
	line-height:100%;
	font-size:2.4vh;
}

#content
{
	width:100%;
}

#banner
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:10%;
	background:#3D7FAF;
}

#bannerText
{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

#bannerText p
{
	color:#fff;
	font-size:3vh;
}

#bannerButtons
{
	position:absolute;
	right:2.5%;
	bottom:-60%;
	height:60%;
	width:65%;
}

#bannerButtons button
{
	width:25%;
	display:inline-block;
	margin-left:-4px;
	height:100%;
	border:none;
	border-top:none;
	background-color:#3D7FAF;
	color:rgba(0,0,0,0);
	font-size:0rem;
}

#content-container
{
    position: absolute;
    overflow-y: scroll;
    height: 60%;
    width: 100%;
    top: 27.5%;
    left: 0;
    border-top: #3D7FAF 4vh solid;
    border-bottom: #3d7faf 4vh solid;
}
#content
{
	position:absolute;
	background:#eee;
	top:0%;
	width:100%;
	height:auto;
	left:50%;
	transform:translate(-50%,0%);
}

#content-container p
{
	position:absolute;
	color:#fff;
	line-height:0;
	top:0vh;
	width:100%;
	text-align:center;
	height:0vh;
	z-index:2;
	padding:0;
	margin:0;
	font-size:2vh;
}

p#myLatest
{
    top: 26.5%;
    position: absolute;
    background: #f00;
    height: 0%;
    width: 100%;
    left: 0%;
    z-index: 2;
    font-size: 2vh;
    text-align: center;
    color: #fff;
}

.break
{
	width:100% !IMPORTANT;
	left:0 !IMPORTANT;
}

.latest
{
	height:auto;
	max-height:10vh;
	transition:0.1s;
}

.latest
{
	background:#fff;
	height:auto;
	min-height:10vh;
	max-height:10vh;
	width:90%;
	top:0vh;
	left:10%;
	box-sizing:border-box;
	position:relative;
	border:#eee 1vh solid;
	border-radius:2vh;
	overflow:hidden;
	transition:0.1s;
}

.latest-logo
{
	position:absolute;
	width:5%;
	left:5%;
	margin-top:5vh;
	transform:translate(-50%,-50%);
}

.left-curve
{
	border-top-left-radius:0vh;
	border-bottom-left-radius:1vh;
}

.right-curve
{
	border-top-right-radius:0vh;
	border-bottom-right-radius:1vh;
}

.button_logo
{
	height:45%;
}

.centered
{
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.comfortaa
{
	font-family:'comfortaa',cursive;
}

#footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3d7faf;
    height: 5%;
    z-index: 0;
}

#footer p {
    color: #fff;
    display: inline;
    font-size: 2vh;
    position: relative;
    text-align: center;
    margin: 10%;
    height: 10%;
    padding: 0;
    line-height: 0;
    text-decoration: underline;
}

button#force-mobile {
	display:none;
}