body
{
	position:absolute;
	width:100%;
	max-width:150vh;
	height:100%;
	margin:0;
	top:0;
	left:50%;
	overflow:hidden;
	transform:translate(-50%,0);
	transition:0.1s;
}

#loaderOverlay
{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#3D7FAF;
	transition:0.8s;
	z-index:150;
}

#loaderOverlay p
{
	position:absolute;
	font-size:5vh;
	top:60%;
	color:#fff;
}

.loaderIcon
{
	top:50% !IMPORTANT;
	left:50% !IMPORTANT;
	transform:translate(-50%,-50%) !IMPORTANT;
	transition:1s;
}

.loaderAnimation
{
	animation: loaderAnimation forwards infinite 2s;
	transform:rotateY(0deg) translate(-50%,-50%) !IMPORTANT;
	top:0;
	left:0;
	transition:1s;
}

@keyframes loaderAnimation
{
	0%
	{
		transform:translate(-50%,-50%) rotateY(0deg) ;
	}
	100%
	{
		transform:translate(-50%,-50%) rotateY(360deg);
	}
}

#twitterIcon
{
	position:absolute;
	height:100%;
	transition:0.1s;
}

#twitterIcon:hover
{
	height:110%;
	opacity:0;
	cursor:pointer;
}

#profilePic
{
	position:absolute;
	overflow:hidden;
	width:14vh;
	height:14vh;
	border-radius:10vh;
	border:#fff 1vh solid;
	top:2.5vh;
	left:2.5vh;
	z-index:200;
	box-sizing: border-box;
	transition:0.5s;
	transform:translate(0%,0%) rotateY(0deg);
}

#profilePic div
{
	background:#aaa;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

#profilePic div p
{
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
	width:100%;
	position:absolute;
	line-height:100%;
	font-size:3vh;
}

#banner
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:10%;
	background:#3D7FAF;
	z-index:100;
}

#bannerText
{
	position:absolute;
	left:20vh;
	top:50%;
	transform:translate(-0%,-50%);
}

#bannerText p
{
	color:#fff;
	font-size:5vh;
}

#bannerButtons
{
	position:absolute;
	right:5vw;
	bottom:0;
	height:50%;
	width:50%;
}

#bannerButtons button
{
	width:25%;
	display:inline-block;
	margin-left:-4px;
	height:100%;
	border:white 0.25vh solid;
	border-bottom:none;
	box-sizing: border-box;
	background-color:#3D7FAF;
	color:#fff;
	font-size:1rem;
	transition:0.1s;
	outline:none;
}

#bannerButtons button:hover, .expand:hover
{
	transform:scale(1.25,1.25);
	border-radius:2vh;
	border:white 0.25vh solid;
	transition:0.05s;
}

#bannerButtons button:active, .expand:active
{
	transform:scale(0.85,0.85);
	border-radius:2vh;
}

#desc
{
	position:absolute;
	width:75%;
	top:22.5%;
}

#desc p
{
	text-align:center;
	font-size:1.9vh;
}

.break
{
	height:5vh;
	background:#3D7FAF !IMPORTANT;
	left:0;
	width:100%;
}

.break p
{
	position:absolute;
	top:50% !IMPORTANT;
	left:0 !IMPORTANT;
	z-index:10;
}


.left-curve
{
	border-top-left-radius:1vh;
}

.right-curve
{
	border-top-right-radius:1vh;
}

.curve-top
{
	border-top-left-radius:3vh;
	border-top-right-radius:3vh;
}

.button_logo
{
	height:0%;
}

.centered
{
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.comfortaa
{
	font-family:'comfortaa',Sans-serif;
}

button:hover
{
	cursor:pointer;
}

button
{
	outline:none;
}

.expand
{
	position:absolute;
	top:0%;
	left:80%;
	width:20%;
	height:100%;
	border-radius:1vh;
	border:none;
	background:#fff;
	transition:0.2s;
}

.min-height
{
	height:5vh !important;
}

.twitter-timeline
{
    width: 80% !important;
}

.steam-workshop-item
{
	position:absolute;
	height:340px;
	width:80%;
	background:#1B2838;
}

.steam-workshop-item .steam-desc
{
	position:absolute;
	left:5%;
	width:95%;
	color:#fff;
	font-size:1.25vh;
	top:1vh;
}

.steam-user
{
	color:rgba(255,255,255,0.5)!IMPORTANT;
	top:3vh !IMPORTANT;
}

.steam-workshop-item img
{
    position: absolute;
    width: 30%;
    right: 0%;
    opacity: 1;
    border: #2F4763 0.6vh solid;
    box-sizing: border-box;
}

.steam-workshop-item-iframe
{
	position:absolute;
	top:10vh;
	transition:0.2s;
}