:root
{
	--canvasScale:480px;
}

body
{
	overflow:hidden;
}

#gameContainer
{
	border:solid 1px black;
	width:var(--canvasScale);
	height:CALC(var(--canvasScale)/2);
	overflow:hidden;
	
}

.center
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#buster
{
	position:absolute;
	height:52px;
	width:20px;
	background:url('buster-sprite.png');
	bottom:10px;
	left:0%;
}

#background-image1, #background-image2
{
	position:absolute;
	width:2000px;
	bottom:-00%;;
}

#background-image2
{
	margin-left: 2000px;
}